[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
flask-restful = "*"
flask-cors = "*"
flask-serialize = "*"
sqlalchemy = "*"
flask = "*"
flask-migrate = "*"
honcho = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.12"
